
html {
  background-color: #294411;
}


h1 {
  background-color: #385c19;
  color: rgb(29, 5, 41);
  padding: 14px 16px;
  margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #487a1c;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(29, 5, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #5a9428;
  }

.table1{
  padding-left: 33%;
}

#addedTrims{
  padding: 100px 25px 25px 25px;
  padding-left: 12%;
}

td, th {
  border: 1px solid #090909;
  text-align: left;
  padding: 8px;
}

#addedTrimColour{
  padding: 100px 25px 25px 25px;
  padding-left: 4.5%;
}

#trimsTable{
  padding-left: 9%;
}

#toolTrims{
  padding-left: 14%;
  padding-top: 100px;
  padding-bottom: 10px;
}

#toolTrimTable{
  padding-left: 10%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


